div#boozologygrabber_loader img {
	background: black;
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 99999;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-box-shadow: 0 3px 8px -5px #333;
	-moz-box-shadow: 0 3px 8px -5px #333;
	-o-box-shadow: 0 3px 8px -5px #333;
}

div#boozologygrabber * {
	font-family: 'Helvetica Neue','Helvetica','Arial';
}

div#boozologygrabber {
	position: static;
}

div#boozologygrabber div.bl_overlay {
	border: 8px solid brown;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
}

div#boozologygrabber div.bl_overlay_text {
	padding: 12px;
	font-weight: bold;
	background: purple;
	color: white;
	//margin: 8px;
	text-align: center;
	position:absolute;
	right:0;
}

div#boozologygrabber div.bl_select_box {
	position: absolute;
	width: 560px;
	background: #000;
	color: #959595;
	font-size: 12px;
	z-index: 10000;
	line-height: 20px;
	padding: 0 0 30px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-box-shadow: 0 5px 15px -5px #333;
	-moz-box-shadow: 0 5px 15px -5px #333;
	-o-box-shadow: 0 5px 15px -5px #333;
}

div#boozologygrabber div.bl_select_box div.bl_select_content {
	margin: 30px 35px 0 40px;
}

div#boozologygrabber div.bl_select_box div.bl_select_content div {
	position: static;
	text-align: left;
}

div#boozologygrabber div.bl_select_box div.bl_select_content img {
	float: right;
}

div#boozologygrabber div.bl_select_box div.bl_select_content ul {
	color: #959595;
	overflow: auto;
	padding: 0;
	margin: 0;
}

div#boozologygrabber div.bl_select_box div.bl_select_content .bl_seperator {
	border-top: 1px solid #333;
	height: 1px;
	margin: 20px 0 15px 0;
}

div#boozologygrabber div.bl_drag_handle {
	cursor: move;
	width: 100%;
	height: 40px;
	position: absolute;
}

div#boozologygrabber .bl_select_box div.bl_category {
	font-weight: bold;
	color: white;
	font-size: 14px;
	margin: 15px 0 4px;
	padding: 0;
}

div#boozologygrabber .bl_select_box .bl_category span.bl_type {
	color: #ff0;
	font-size: 12px;
	margin: 0 0 0 10px;
	display: inline-block;
}

div#boozologygrabber .bl_select_box .bl_category.bl_set div {
	margin: 0;
	color: white;
	text-decoration: underline;
	cursor: pointer;
	display: inline;
	font-weight: bold;
}

div#boozologygrabber .bl_select_box .bl_category.bl_set .set_title {
	font-weight: normal;
}

div#boozologygrabber .bl_select_box .bl_category.bl_set span.bl_type.bl_underline {
	text-decoration: underline;
}

div#boozologygrabber .bl_select_box li.bl_category_values {
	cursor: pointer;
	margin: 0 15px 0 0;
	float: left;
	line-height: 24px;
	list-style-type: none;
	font-weight: bold;
	color: #898989;
	font-size: 14px;
}

div#boozologygrabber .bl_select_box li.bl_category_values:hover {
	color: #c2c2c2;
}

div#boozologygrabber .bl_select_box li.bl_category_values.selected {
	color: #ff0;
}

div#boozologygrabber .bl_select_box img.bl_close {
	float: right;
	font-weight: bold;
	display: inline-block;
	margin: -15px -15px 0;
	color: black;
	font-size: 12px;
	cursor: pointer;
}

div#boozologygrabber div.bl_select_box div.bl_message {
	margin: 30px 0;
	padding: 30px 0 30px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	float: left;
	width: 100%;
}

div#boozologygrabber div.bl_select_box .bl_message img.bl_product_image {
	max-height: 130px;
	max-width: 130px;
	display: block;
	float: left;
	margin-right: 30px;
}

div#boozologygrabber div.add_message_container {
	float: left;
}

div#boozologygrabber span.bl_message_yellow {
	color: yellow;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	display: block;
	clear: both;
}

div#boozologygrabber div.add_message_container a.bl_message_link {
	color: white;
	font-size: 20px;
	display: block;
	margin: 5px 0 20px;
	text-decoration: underline;
}

div#boozologygrabber .bl_message_grey {
	color: #959595;
	line-height: 20px;
	font-size: 14px;
}

div#boozologygrabber .bl_message_yellow.bl_large {
	font-size: 20px;
}