.blnavbar{
	position:relative;
	top:0;
	right:0;
	left:0;
	margin-bottom:0
}

.blnavbar .pull-right{
	float:right
}

.blnavbar a{
	border-bottom:0
}

.blnavbar .blnavbar-inner{
	height:40px;
	padding:20px;
	/*background:#000;
	background-color: rgb(250, 250, 250);
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
	background-repeat: repeat-x;	
	border: 1px solid rgb(212, 212, 212);
	*/
	min-width:940px;
	position:relative
}

.blnavbar .blnavbar-inner .container{
	width:940px;
	margin:0 auto;
	position:relative;
}

.blnavbar .blnavbar-inner .container .brand{
	display:block;
	padding:10px 0 0 10px
}

.blnavbar .blnavbar-inner .container .brand .boozology-logo{
	background-image:url('/assets/images/boozologysmall.png');
	width:158px;
	height:20px;
	background-repeat:no-repeat;
	background-position:top left
}

.blnavbar .blnavbar-inner .container .blnav{
	position:relative;
	left:0;
	display:block;
	float:left;
	margin:5px 10px 0 0;
	list-style:none
}

.blnavbar .blnavbar-inner .container .blnav>li{
	display:block;
	float:left;
	line-height:18px;
	margin:0 10px 0 5px
}

.blnavbar .blnavbar-inner .container .blnav>li>a{
	display:block;
	float:none;
	padding:5px 5px 6px;
	margin-right:1px;
	font-size:17px;
	line-height:19px;
	color:#5e5e5e;
	text-decoration:none
}

.blnavbar .blnavbar-inner .container .blnav>li>a:hover{
	color:rgb(250, 150, 94);
	/*color:white*/
	
}

.blnavbar .blnavbar-inner .container .blnav>li.active>a,.blnavbar .blnavbar-inner .container .blnav>li.active>a:hover{
	color:rgb(250, 150, 94)
	/*color:#fff*/	
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle{
	cursor:pointer;
	display:block;
	float:none;
	line-height:0;
	color:#999;
	text-decoration:none
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle .avatar,.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle .avatar img{
	max-width:30px;
	height:30px;
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle .avatar{
	background:#222;
	display:inline-block;
	font-size:14px;
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle .navigtext{
	display:inline-block;
	height:30px;
	font-size:17px;
	color:#FFFFFF
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle .caret{
	display:inline-block;
	width:0;
	height:0;
	text-indent:-99999px;
	vertical-align:top;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid black;
	opacity:.3;
	filter:alpha(opacity=30);
	content:"?2193";
	border-top-color:white;
	margin:12px 8px 0 5px;
}
.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .dropdown-toggle .caretstick{
	margin-left:-10px;
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .bldropdown-menu{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	float:left;
	display:none;
	min-width:160px;
	padding:10px 0 15px;
	margin:0;
	list-style:none;
	background-color:#303030;
	opacity:.95
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .bldropdown-menu a{
	display:block;
	padding:5px 25px;
	clear:both;
	font-size:14px;
	line-height:18px;
	color:#c2c2c2
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group .bldropdown-menu a:hover{
	color:#fff
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group:hover,.blnavbar .blnavbar-inner .container .blnav>li>.btn-group.open{
	background:#3b3b3b;
	position:relative;
	padding-top:15px;
	margin-top:-15px;
	padding-bottom:25px;
	padding-left:20px;
	margin-left:-20px
}

.blnavbar .blnavbar-inner .container .blnav>li>.btn-group:hover .bldropdown-menu,.blnavbar .blnavbar-inner .container .blnav>li>.btn-group.open .bldropdown-menu{
	display:block
}

.blnavbar .blnavbar-inner .container .blnav>li>.search{
	padding:0 5px
}

.blnavbar .blnavbar-inner .container .blnav>li>.search .icon{
	position:absolute;
	right:18px;
	cursor:pointer;
	margin:7px;
	background-image:url('/assets/image/search.png');
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position:top left
}

.blnavbar .blnavbar-inner .container .blnav>li>.form-search input{
	font-size:16px;
	color:#b4b4b4;
	width:135px;
	background:#444;
	border:1px inset #444;
}

.blnavbar .blnavbar-inner .container .blnav>li>.search input::-webkit-input-placeholder{
	font-style:italic;
	color:#9a9a9a!important
}

.blnavbar .blnavbar-inner .container .blnav>li>.search input:-moz-placeholder{
	font-style:italic;
	color:#9a9a9a!important
}

.blnavbar .blnavbar-inner .container .blnav>li>.form-search  input.active{
	color:#FFF;
	width:250px
}

.blnavbar .blnavbar-inner .container .blnav>li.first{
	margin-left:0
}



.blnavbar.sticky{
	position:fixed;
	z-index:50
}

.blnavbar.sticky .blnavbar-inner{
	padding:5px 20px 5px
}

.blnavbar.sticky .blnavbar-inner .container .blnav>li .btn-group.open,.blnavbar.sticky .blnavbar-inner .container .blnav>li .btn-group:hover{
	padding-bottom:10px
}

.tablet .blnavbar{
	display:none
}

.ellipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.blbanner{
	overflow:auto;
	background-color:rgb(234, 245, 207);
	padding:8px 20px;
	font-size:14px;
	color:#7a7a7a;
	font-weight:300;
	width:840px;
	margin:0 auto 0;
	opacity:.95;
	height:30px
}

.blbanner>.image{
	float:left
}

.blbanner>.image img{
	display:block
}

.blbanner>.message{
	color:#676767;
	float:left
}

.blbanner>.message span.bold{
	font-weight:500
}

.blbanner>.message>a{
	color:#7a7a7a
}

.blbanner>.message .btn{
	display:inline
}

.blbanner>.options{
	float:right;
	overflow:auto
}

.blbanner>.options>.option{
	float:right;
	margin-left:10px
}

.blbanner.logout>.message{
	margin-top:6px
}

.blbanner.private{
	height:40px;
	background:#e7e7e7
}

.blbanner.private>.message{
	font-size:16px;
	font-weight:bold;
	color:#888;
	background-image:url('/assets/image/privacy_icon_big_padlock.png');
	background-repeat:no-repeat;
	padding:10px 0 10px 40px
}

.blbanner.store{
	background:#e5ffde
}

.blbanner.store>.message{
	margin-top:6px
}

.blbanner.store .btn{
	background:#41d077
}

.blbanner.store .btn:hover{
	background:#11a047
}

.blbanner.store .btn.disabled{
	background:#222;
	cursor:default
}
