@()(headpart: Html)(headerpart: Html)(mainbody: Html)(footerpart: Html)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	@headpart
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45705341-1', 'auto');
  ga('send', 'pageview');

</script>
<meta name="p:domain_verify" content="692f01d77c712372b6dc95e69bec1e5f"/>
<meta name="msvalidate.01" content="6F4B3593DDD017F33AB355B270116E04" />
  </head>

  <body ng-app="bl-master">
    <!-- fb comments ini -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=192289607614196";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  
  <!-- fb comments end  -->
  	@headerpart
  	@mainbody
  	@footerpart	
  	<!-- intercom -->
  	 @if(Application.getLocalUser(session())!=null){
  	 @defining(Application.getLocalUser(session())){ presentuser=>
  	<script>  	 
  	window.intercomSettings = {
    // TODO: The current logged in user's full name
    name: "@presentuser.name",
    // TODO: The current logged in user's email address.
    email: "@presentuser.email",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: 1234567890,
    app_id: "3ilias4w"
	};

	</script>
	}
  	}
  	  <!-- intercom end -->
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/3ilias4w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
 <script src="@routes.Assets.at("bl/js/app/app-master.js")"></script> 
 <script src="@routes.Assets.at("bl/js/app/controller-master.js")"></script> 
</html>