@()(headpart: Html)(headerpart: Html)(mainbody: Html)(footerpart: Html)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	@headpart
  </head>

  <body ng-app="bl-master">
  	@headerpart
  	@mainbody
  	@footerpart	
  	
  	<!-- intercom -->
  	<script>
  window.intercomSettings = {
    // TODO: The current logged in user's full name
    name: "Joe",
    // TODO: The current logged in user's email address.
    email: "support@@boozology.com",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: 1234567890,
    app_id: "3ilias4w"
};
  <!-- intercom end -->
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/3ilias4w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
 <script src="@routes.Assets.at("bl/js/app/app-master.js")"></script> 
 <script src="@routes.Assets.at("bl/js/app/controller-master.js")"></script> 
</html>