@()

@ps={}


@Templates.MasterTemplate(){
@Templates.pagehead("Administration @Boozology"){@ps}
}{
@Templates.pageheader(){		
	}{ }	
}{
@Templates.pagemaincontent(){	


<!-- Begin .container -->
<div class="container">
	<!-- Begin .row -->
	<div class="row">
		<!-- Begin .col-lg-12 -->
		<div class="col-lg-12 col-12 col-md-12 col-xs-12 col-sm-12">
	<div class="main-banner about-page">
<!-- Begin .container -->



  <!-- Begin .user-act -->
  <div class="user-act">
    
    <h3>Boozology is a curated collection of the world's best products and stores.</h3>
    <div class="clearfix"></div>
    <ul class="log-menu">
      <li><a href="#" class="btn btn-default login">Login</a></li>
      <li>or</li>
      <li><a href="#" class="btn btn-default sign-up">Sign Up</a></li>
    </ul>
  </div>
  <!-- End user-act -->
  <div class="clearfix"></div>

</div>
<!-- End .main-banner.about-page -->
			
		</div>
		<!-- End .col-lg-12 -->

		<!-- Begin .col-lg-8 -->
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-12">
	<p class="intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>	
	
  <ul class="list-caret">
    <li>
      <p><i class="icon-caret-right"></i>  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab</p>
    </li>
    <li>
      <p><i class="icon-caret-right"></i>  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab</p>
    </li>
    <li>
      <p><i class="icon-caret-right"></i>  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab</p>
    </li>
    <li>
      <p><i class="icon-caret-right"></i>  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab</p>
    </li>
  </ul>
		</div>
		<!-- End .col-lg-8 -->
    <div class="clearfix"></div>

<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 col-12">
<div class="main-categories about-page">
<h2>Browse & Discover</h2>


<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
  <!-- Begin .category-product -->
    <div class="category-product">
      <div class="title">
        <h3>Wine</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->

      <img src="@routes.Assets.at("bl/images/wine.png")" class="img-responsive" alt="">
    </div>
    <!-- End .category-product -->

  </div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
    <div class="category-product">
      <div class="title">
        <h3>Beer</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->
      <img src="@routes.Assets.at("bl/images/beer.png")"class="img-responsive" alt="">
    </div>

  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
  <!-- Begin .category-product -->
    <div class="category-product">
      <div class="title">
        <h3> Liquor & Spirits</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->

      <img src="@routes.Assets.at("bl/images/liquor.png")" class="img-responsive" alt="">
    </div>
    <!-- End .category-product -->

  </div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
<!-- Begin .category-product -->
    <div class="category-product small">
      <div class="title">
        <h3>Mixology</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->
      <img src="@routes.Assets.at("bl/images/mixology.png")" class="img-responsive" alt="">
    </div>
    <!-- End .category-product -->
  </div>
</div>
<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
<!-- Begin .category-product -->
    <div class="category-product">
      <div class="title">
        <h3>Gadgets</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->
      <img src="@routes.Assets.at("bl/images/gadgets.png")" class="img-responsive" alt="">
    </div>
    <!-- End .category-product -->
  </div>
     </div>
     <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
  <!-- Begin .category-product -->
    <div class="category-product small">
      <div class="title">
        <h3> Toys & Trinkets</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->

      <img src="@routes.Assets.at("bl/images/toys.png")" class="img-responsive" alt="">
    </div>
    <!-- End .category-product -->

  </div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
<!-- Begin .category-product -->
    <div class="category-product">
      <div class="title">
        <h3> Glassware</h3>
      </div>
      <!-- Begin .category-list -->
      <div class="category-list">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Wine Second</a></li>
          <li><a href="#">Wine New</a></li>
          <li><a href="#">Old wine</a></li>
          <li class="more"><a href="#">More...</a></li>
        </ul>
      </div>
      <!-- End .category-list -->
      <img src="@routes.Assets.at("bl/images/glassware.png")" class="img-responsive" alt="">
    </div>
    <!-- End .category-product -->
  </div>
</div>
</div>
		</div>
	</div>
	<!-- End .row -->
</div>
<!-- End .container -->		
@Templates.su.jready{
			
}
	
}
}{
@Templates.pagefooter(){ }
}	
