@()

@ps={}


@Templates.MasterTemplate(){
@Templates.pagehead("Administration @Boozology"){@ps}
}{
@Templates.pageheader(){		
	}{ }	
}{
@Templates.pagemaincontent(){	

<!-- Begin .container -->
<div class="container">
	<!-- Begin .row -->
	<div class="row">
		<!-- Begin .col-lg-12 -->
		<div class="col-lg-12 col-12 col-md-12 col-xs-12 col-sm-12">
			<div class="page-title">
				<h1>Community Guidelines</h1>
<p class="intro">
	As a global community of people with similar interests, Boozology is committed to supporting and protecting freedom of speech. 
However, we draw lines on important categories of content and behavior that might affect our system, or damage our community.
	
	
</p>
<p>
Participation in the Boozology website constitutes agreement to the following guidelines, which apply to posts, profile information, avatars, signatures, any other content on this site and participation in general. This includes private messages, which we have the ability to read, but only do so when a violation is reported to us or we have a legitimate reason. Although rare, it does happen.
</p>
<p>
Because of the live nature of the discussions on this community, it is not possible for us to review and/or confirm the accuracy or validity of a message before it is posted. If you believe that someone has violated our User Guidelines or you have spotted content that may otherwise require attention, please send a private message to me or a staff member with a link to the content and a brief description of what you believe is wrong. Notification is voluntary and anonymous, but in no case should a user respond to a situation personally, thereby aggravating the situation further. Responding to a violation in an inflammatory manner is a violation in itself and will result in appropriate action.
</p>
<p>
This is a for profit website that will attempt to generate revenue through avenues that we deem appropriate. Any content that violates our User Guidelines will be removed. Interpretation of our guidelines is at the discretion of the staff.
</p>
<p>
1. Cross posting is not allowed and will result in the removal of one or more posts. Cross posting is defined as posting the same information in two or more locations. When posting your topic, please try to post it in the most appropriate place within the organizational structure of our community. Identical topics posted in the same or different locations will be removed.
</p>
<p>
2. Advertisements are not allowed. Generally speaking, posts made specifically for the promotion of a website, product or service are considered advertising or, at least, posts made that unnecessarily send people to a website that you are in some way affiliated with. It does not matter if it is a commercial website, a personal website, a non profit website, etc. We do authorize and/or sell advertisements on a case-by-case basis. If you are interested in utilizing this option, please contact us.


</p>
<p>
3. Anyone found to be posting excessive links to their websites or suspected of using "sneaky" advertising methods is in violation of this guideline. You may only post a link to your site/a site that you are in some way affiliated with if the link specifically answers the question that is being asked and the answer cannot be simply posted without the link. Even then, link directly to the page where the information can be found. General and unnecessary links will be tagged as advertising. If you are found to be excessively posting links to your site (or you appear to be seeking out posts or products where your link may be relevant, so that you can post it), you may lose the ability to post links to your site.
</p>

<p>
4. You are not allowed to post an affiliate URL that leads to you earning cash, banner impressions, credits, points, etc. Such links are only allowed in signatures and profiles, but may not be referred to in posts.
</p>

<p>
5. Do not post personal, real-life information such as home addresses and home phone numbers.
</p>

<p>
6. As this is an English-speaking community, we require that posted content be in the English language, so that it can be well received and properly monitored.
</p>

<p>
7. Vulgar language and inappropriate material is not allowed and will be removed. Abbreviations, self-censoring, and attempts to circumvent the word-censoring feature of the community software also violate this guideline. If your post contains a word that is censored by the software, you must remove that word or the post will be removed. If you feel that the censor is acting in error, please contact us.
</p>

<p>
We try to maintain a family friendly atmosphere whenever it is possible within the main subject matter of this community. Please keep this in mind when participating.
</p>
<p>

8. When linking to outside websites, you must ensure that the content of the link is appropriate for our community, in line with the guidelines laid out here. This includes mentioning or referencing a site, even if the mention is not hyperlinked. If you post a link and that link is automatically censored, it is considered to be an inappropriate link and you should remove it from your post immediately. If left, all posts that feature inappropriate links will be removed.
</p>

<p>
9. Posts that discuss illegal activities, transactions, or websites such as warez, cracks, etc. will be removed. This includes the posting of information that you have obtained illegally.
</p>

<p>
10. Political and religious discussions are not allowed on this website. If it is believed that the end result of a discussion will be political or religious, the post may be removed. Likewise, strong political and religious sentiments should be kept out of profiles, signatures, and other content.
</p>

<p>
11. Do not post copyrighted materials (articles, videos, audio, etc.) that you do not have permission to reproduce or distribute. For text articles, most of the time you may quote a small portion of the article (usually no more than 1/5 or 1/6) and you must link to the source (if online) or provide the source (if offline). Posting the entire article, even with the source, constitutes copyright infringement. This is not the place to illegally trade or distribute copyrighted (or those with questionable copyright status) video or audio clips.
</p>

<p>
12. When posting and linking to images, videos, files, etc., please refrain from hotlinking. This is the direct linking to images (.jpg, .jpeg, .gif, .png, etc.), video (.avi, .mov, .mpg, .mpeg, .wmv, etc.), audio (.mp3, .wav, etc.), archives (.zip, .rar, etc.) or otherwise downloadable or streamable files, on servers that you do not have permission to link to, instead of linking to the page where the item can be found. This includes providing a direct link to the file, even if that file is not embedded into your post. This practice costs the server owner money and resources.
</p>

<p>
13. Respect is the name of the game. You must respect your fellow members. Please refrain from inflammatory and defamatory comments as well as flaming, taunting, and general disrespect. Do not simply put down the opinion or advice given by others. If you don't agree with it, say why - respectfully. Don't just tell them they're wrong. Do not make uninvited remarks about typos, duplicate posts, posting styles, etc.
</p>

<p>
When an opinion-based discussion is being had, do not state things like "there is no argument" as if your opinion is the only one or the only one that matters. When someone has clearly stated their opinion, do not say things like "Are you serious?" and "Are you kidding me?" Remember, this is not a debate club. This is a friendly discussion community. Allow people to have their opinion. No one is to act as some sort of opinion judge, responding to each one to say whether they agree with it or not or whether or not it is a valid, well thought out opinion.
</p>

<p>
We do not allow posts (Buzz section posts, or comments ) to be started to discuss who or what is the most overrated, who or what is your least favorite, etc.
</p>

<p>
14. Profile text.  You may mention websites and ventures that you are in some way related to, as long as they are otherwise appropriate for this community. Focus on things that you like, not things that you don't.
</p>
<p>
15. Each user is allowed to create one account. If you would like to change your username, please contact us and, most likely, we can do it for you while you can keep all of your profile data, posts, and other content.
</p>
<p>
16. Automated account creation, participation, and content scraping is not permitted.
</p>
<p>
17. We know that people will have to leave our community (of their own free will or otherwise) from time to time and to that end, we do not delete accounts, posts, or other content posted on our community. All content is granted to us with perpetual electronic publishing rights because any content posted on this community becomes a part of the community, even if you no longer are. You may request an item to be removed at any time, but we will decide when and if to remove content from our community. If you wish to no longer be identified with our community, we will be glad to close your account and alter your profile information to remove all identifying characteristics. After account closure, you will no longer be able to participate in this community and this action is not reversible.
</p>
<p>

18. Moderators and myself have the final say on anything. If you have a problem, you may make a complaint to them directly and not publicly on the website. Creating products or posts that question or reference administrative decisions or potential administrative decisions, such as post removals product closures, is not permitted. We are not perfect and if you feel that we have made a mistake, please privately contact a staff member and we will review the situation. If you would like a copy of your removed post so that you can adjust it and repost, please contact us. As long as we wouldn't prefer you to simply start over, we'll be glad to send you a copy.
</p>
<p>

19. Whenever you are participating in this community, please keep in mind that we strive to create a fun, friendly and inviting atmosphere. So, please have fun and enjoy our site!
</p>
<p>

These guidelines detail the types of behavior and activities that are allowed here.
If a user violates our guidelines and shows a disregard for them, our staff and our community, they run the risk of losing their account. We reserve the right to deactivate any account and to edit or remove any content without warning. These guidelines are subject to change at any time without notice.
</p>
<p>

Do you have a question about our User Guidelines or anything else? Do you have a suggestion? Do you want to offer some feedback? Or are you experiencing some trouble with the site? Well, no matter what it is, please do not hesitate to contact us and we will be glad to help in any way that we can.
</p>


Thank you for visiting Boozology & thanks for reading this!


			</div>
			
		</div>
		<!-- End .col-lg-12 -->

		<!-- Begin .col-lg-8 -->
		
		<!-- End .col-lg-8 -->

		
	</div>
	<!-- End .row -->
</div>
<!-- End .container -->		
@Templates.su.jready{
			
}
	
}
}{
@Templates.pagefooter(){ }
}	
