@(listId: Long, listName: String)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper._

@pst={

}

@Templates.MasterTemplate(){
	@Templates.pagehead("Ranking List @Boozology"){@pst}
}{
	@Templates.pageheader(){
		<style>
    	.error {
    		color: #000000
    	}
    </style>		
	}{ }
	
}{
	@Templates.pagemaincontent() {
		
			<div class="container">
				<div class="row" data-sticky_parent>
					<div class="col-lg-8 col-8 col-md-8 col-xs-8 col-sm-8" data-sticky_column>
						<h3 class="text-success"  style="color: #a80418"><b>Admin Single Page</b></h3>
					</div>
					<div class="col-lg-4 col-4 col-md-4 col-xs-4 col-sm-4" data-sticky_column>
						<h3 class="text-link"><a style="color: #a80418" href="@routes.RankingModuleController.addEditProductToListPage(listId)">Add Products To List</a></h3>
					</div>
				</div>
			</div>
		
			<div class="col-lg-12 col-sm-12" style="padding-left: 9%;overflow:auto;">
				<div class="input-group col-lg-2 col-mg-2 col-sm-2 col-xs-2">
					<h4 class="text-success"  style="color: #a80418"><b>List Name:</b></h4>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h4 class="text-success"  style="color: #a80418"><b>@listName</b></h4>
				</div>
			</div>
			<div class="col-sm-12" data-bind="visible: productLists().length > 0" style="padding-left: 9%;padding-bottom: 2%;">
				<div class="col-lg-12 col-sm-12">
						<h4 class="text-success"  style="color: #a80418"><b>Product List</b></h4>
				</div>
				<div class="col-sm-12">
					<div style="clear: none;" data-bind="template: { name: 'productlist-template', foreach: productLists}"></div>	
				</div>
			</div>
			
	
	}
	@Templates.su.jready {
		
		var SimpleListModel = function() {
			self = this;
		    self.productLists = ko.observableArray([]);
		    
		    self.init = function() {
		    	
		    	var posting = $.get( "@routes.RankingModuleController.getRankingListProducts(listId)", {}, "json");
				
				posting.done(function( data ) {
					self.productLists(data);
				});
				
				posting.fail(function( data ) {	
				});
		    }
		    
		    self.increaseVoteCount = function(e) { 
		    	//todo - update the votes count in ranking_list_product table.
		    }
		    
		    self.updateAverageRating = function(e) {
		     //todo - update the product rating in user_rate table for selected product.
		     //todo - create new record if does not exists.
		    }
		    
		    self.avgRating_changed = function(e){
				console.log("avgRating_changed");
		    	console.log(e);
		    	
		    	var postData = {
		    		productId: e.productId,
		    		noOfVotes : e.avgRating
		    	};
		    	console.log(postData);
		    	$.post('/averageRating-product', postData, function() {
				}).done(function(response) {
					setTimeout(function() {
						$(".loaderimagediv").hide();
					}, 2000);
				}).fail(function(error) {
				    alert(error);
					setTimeout(function() {
						$(".loaderimagediv").hide();
					}, 2000);
				}); 
			}
		    
			self.totalVotes_changed = function(e){
				console.log("totalVotes_changed");
		    	console.log(e);
		    	
		    	var postData = {
		    		productId: e.productId,
		    		listId: @listId,
		    		noOfVotes : e.totalVotes
		    	};
		    	console.log(postData);
				$.post('/vote-list-product', postData, function() {
				}).done(function(response) {
					setTimeout(function() {
						$(".loaderimagediv").hide();
					}, 2000);
				}).fail(function(error) {
				    alert(error);
					setTimeout(function() {
						$(".loaderimagediv").hide();
					}, 2000);
				}); 
			}
		    self.deleteProductFrommList = function(e) {
		    	console.log("deleteRankingList");
		    	console.log(e);
		    	
		    	var jsonString = {
		    		listId: @listId,
		    		productId: e.productId
		    	}
		    	var posting = $.post( "/delete-ranking-list-product/" + e.id, jsonString, "json");
		    	//remove the product for selected list from ranking_list_product table.
		    	
		    };
		      
		};
	 
	 	var viewModel = new SimpleListModel();
		ko.applyBindings(viewModel);
		viewModel.init();
	}

	<script type="text/html" id="productlist-template">
	<div style="clear: both;padding-top: 1%;" class="col-sm-12 col-lg-12">
			<div class="col-lg-3 col-mg-3 col-sm-3 col-xs-3" data-bind="text: productName" style="display:inline-block;color: #a80418;"></div>
			<div data-bind="text: productId" style="display: none"></div>
			<div class="col-lg-3 col-mg-3 col-sm-3 col-xs-3" style="color: #a80418;">
				<div style="float:left;">Vote :&nbsp;</div><input type="number" data-bind="value: totalVotes ,event: { change: $parent.totalVotes_changed }, valueUpdate: 'afterkeydown'" class="form-control" style="width: 35%;">
			</div>
			<div class="col-lg-4 col-mg-4 col-sm-4 col-xs-4" style="color: #a80418;">
				<div style="float:left;">Average Rating : &nbsp;</div><input type="number" data-bind="value: avgRating,event: { change: $parent.avgRating_changed }, valueUpdate: 'afterkeydown'" class="form-control" style="width: 25%;">
			</div>
			<a class="col-lg-2 col-mg-2 col-sm-2 col-xs-2" style="display:inline-block;" data-bind="click: $parent.deleteProductFrommList">Remove</a>
	</div>
	</script>
	
}{
	@Templates.pagefooter(){ 
	
	
	
	}
}	