.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #f6f6f6;
	z-index: 10000;
-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
	/*-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;*/
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */

/* Transitions and class for reduced height */
nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding: 10px 0px
}




