@(extracontent:Html=Html(" "),defaultsize:Int =3)

<div class="isotope-item">
  <div class="product-wrap-custom product-details-custom">
    <!-- Begin .featured-product --> 
    <div class="featured-product-custom">
      <div class="shareprod-custom">
        <a class="share_prod" data-bind="popover: {template: 'popoverBindingTemplate'}"><i class="icon-share"></i></a>
      </div>
      
      <div class="cart-shopping">
        <a href="javascript:void(0);" data-bind="attr:{href:siteurl}"><i class="icon-shopping-cart icon-shopping-cart-custom"></i></a>
      </div>
      <!-- Begin .info-wrap -->
      <div class="info-wrap-custom">
        <a href="javascript:void(0);" data-bind="click: $parent.lovestate"><i data-bind="css:lovetext()=='Love'?'icon-heart':'icon-thumbs-down'"></i><span data-bind="text: lovetext()=='Love'?'Like It!':lovetext()"></span></a>
      </div>
      <a data-bind="attr:{href:prlink}" class="btn btn-default view-product-custom">View Product</a>
      <!-- End .info-wrap -->
      <div class="product-image" data-bind="style: { backgroundImage: 'url(\'' + pic() + '\')'}"></div>
      
      <div class="desc_prod_custom">
        <a data-bind="attr:{href:prlink},text:name"></a>
        <br>
        <p>added by <a data-bind="attr:{href:usrlink,title:discoverer}"><span data-bind="text:discoverer"></span></a>  at <span class="price-background" data-bind="html:cncy()+$().cat(Math.round(cost()),8)"></span></p>
        <ul class="comments-custom">
          <li><i class="icon-comment"></i>3</li>
          <li><i class="icon-heart"></i>14</li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- End .featured-product -->
</div> 

@*
<li class="thumbsli">
	@extracontent
	
    <div class="thumbslink thumbslinkmedium" data-bind="click: $root.brickinvoked,attr:{id:id}">
        <a data-bind="attr:{href:prlink}"><img class="thumblimg" data-bind="attr:{src:pic,alt:name}"></a>
        <div class="thumbldiv disonhover">
            <span data-bind="text: $().cat(name(),50)"></span>
        </div>
    </div>
    <div class="floatlike disonhover">
        <div class="btn-group">
            <button class="brectangle" data-bind="click: $parent.lovestate,text: lovetext,css:lovetext()=='Love'?'btn btn-danger':'btn btn-inverse' "></button><button class="brectangle" data-toggle="dropdown" data-bind="css:lovetext()=='Love'?'btn btn-danger dropdown-toggle':'btn btn-inverse dropdown-toggle'"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" data-bind="click: $parent.wantstate, clickBubble: false,text: wanttext">Want</a></li>
                <li><a href="javascript:void(0);" data-bind="click: $parent.triedstate, clickBubble: false,text: triedtext">Own</a></li>
                <li><a href="javascript:void(0);" data-bind="click: $parent.collectstate, clickBubble: false">Collect</a></li>
            </ul>
        </div>
    </div>
    <span class="like">
    <div>
        <div class="disonhover">
            <div class="user-info user-hover">
                <div class="user-gravatar40">
                    <a data-bind="attr:{href:usrlink}"><img data-bind="css:'likeimage',attr:{href:usrlink,alt:discoverer,src:usrpic}"></a>
                </div>
                <div class="user-details spacecreater-lateral-small">
                    Found by: <a class="black" data-bind="attr:{href:usrlink}"><b data-bind="text: $().cat(discoverer())"></b></a><br>
                    at: <a class="black" data-bind="attr:{href:storeaddr}"><b  data-bind="text: $().cat(store())"></b></a>
                </div>
            </div>
        </div>
        <div class="user-details goinvonhov thumbtextmaxwidth textcutoverflow">
            <span data-bind="text:name"></span><br>
            <div class="textcutoverflow"><b class="black" data-bind="html:cncy()+$().cat(Math.round(cost()),8)"></b> ,<span data-bind="text: love"></span> Loves,<span data-bind="text: comment"></span> Comments </div>
        </div>
    </div>
    </span>
</li>
*@
