@(blg:Blog,isgrouped:Boolean=false,blgcnt:Int=0,editor:Boolean=false,likedByMe:Boolean=false)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta property="og:title" content="@blg.title"/>
		<meta property="og:type" content="article"/>
		<meta property="og:description" content="@blg.htmlLessContent"/>
		<meta property="og:url" content="@routes.Useract.getBlogByPermalink(blg.permaLink).absoluteURL()"/>
		<meta property="og:updated_time" content="@blg.postedAt.getTime()"/>
		<meta name="description" content="@blg.htmlLessContent">
    	<meta name="author" content="@blg.author.user.name">
		@for(img <- blg.getImages()) {
			@if(img.isVideo==false){
				<meta property="og:image" content="@img.getURL()"/>			
			}
		} 
	</head>

@pst(isadmin:Boolean)={
	@if(isadmin){
	<style>
	.blogdeletebutton{
	color:rgb(221, 75, 57);		
	}
	</style>
	}
	<link href="//vjs.zencdn.net/4.5/video-js.css" rel="stylesheet">
	<script src="//vjs.zencdn.net/4.5/video.js"></script>
	
	<style>
		.video-js {padding-top: 56.25%}
		.vjs-fullscreen {padding-top: 0px}
	</style>
}

@singleunit(isadmin:Boolean)={


    <!-- Begin .container -->
    <div class="container blog" >
      <!-- Begin .row -->
      <div class="row" data-sticky_parent>
		
        <!-- Begin blog-post -->
        <div class="blog-post"  id="Blog@{blg.id}" >
          <!-- Begin .col-lg-12 -->
          <div id="txt@{blg.id}" class="col-lg-5 col-12 col-md-4 col-xs-12 col-sm-12" data-sticky_column>
            <!-- Begin .box -->
           
            <div class="box">
                            
		               <p class="meta pull-left">   
		               	<a href="@routes.Application.ContributorPage(blg.author.id)">    
		                  		@*<img src="@routes.Assets.at("images/1.jpg")" class="user-thumb img-responsive" alt="@blg.author.user.name" title="@blg.author.user.name" style="width: 70px;height: 70px;"/>*@
		                  		 <img src="@blg.author.user.getusersimage()" class="img-responsive img-circle" alt="@blg.author.user.name" title="@blg.author.user.name" style="width: 150px; border:1px solid #d4d4d4" > 
		                  	</a>
		                </p>
		                
		            
              <ul class="meta pull-right">
                <li>
                	<a href="@routes.Application.ContributorPage(blg.author.id)">                  
		               <p>   
		                  		
		                  		<div class="pull-right"> <h4>@blg.author.user.firstName @blg.author.user.lastName</h4></div>
		                </p>
		            </a>
		            <div class="clearfix">
              		</div>
                </li>
                <li style="font-size: 12px;">Posted on</li>
                <li class="date" style="font-size: 12px;">@blg.postedAt</li>
                <li class="comm-meta" style="font-size: 12px;"><a href="#blog_comment_@{blg.id}">@BlogComment.CommentCount(blg)</a> comments</li>
                
                
              </ul>
               <div class="clearfix">
              		</div>
              		<!-- like/dislike buttons -->
              	<div class="pull-left">
              			
              				<button id="likeBtn" type="button" style="@if(likedByMe==true){display:none;}width:70px;" class="btn btn-danger btn-xs" onclick="likearticle()">Like</button>
              				<button id="dislikeBtn" type="button" style="@if(likedByMe==false){display:none;}width:70px;" class="btn btn-xs" onclick="dislikearticle()">Dislike</button>
              			
                		@*<button type="button" class="btn btn-primary" onclick="likearticle()">+</button>
                		<button type="button" class="btn btn-danger" onclick="dislikearticle()">-</button>*@
                	</div>
              <!-- Begin .social -->
              <ul class="social" style="margin-bottom: 15px;">
                <li><a  href="#"  title="Share on Facebook" 
											onclick="window.open(
													'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@routes.Useract.getBlogByPermalink(blg.permaLink).absoluteURL(request())'),
															'facebook-share-dialog',
															'width=626,height=436');return false;"><i class="icon-facebook"></i></a></li>
                <li><a title="Share on Twitter" href="https://twitter.com/intent/tweet?text=Has%20Read%20%20@helper.urlEncode(routes.Application.GetBlogPage(blg.id).absoluteURL(request()))"
											onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="icon-twitter"></i></a></li>
                <li><a title="Share on Google +" href="https://plus.google.com/share?url=@helper.urlEncode(routes.Application.GetBlogPage(blg.id).absoluteURL(request()))" 
											onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="icon-google-plus"></i></a></li>
              </ul>
              <div class="clearfix">
              </div>
              <!-- End .social -->
            </div>
            <!-- end .box -->
            
             @if(isadmin || editor){ 
                 
                 <div class="box">
                	
		                <a class="gray btn-small" href="@routes.Application.GetEditBlog(blg.id)"><i class="icon-edit"></i>Edit blog</a>
		                <a class="blogdeletebutton gray btn-small underline" href="javascript:void(0);" data-link="@routes.Useract.RemoveBlog(blg.id)"><i class="icon-remove"></i>Delete</a>
		                
		                <div class="clearfix">
              		</div>
               </div>
                
                }
            
             <!-- Begin .title-wrap -->
            <div class="title-wrap">
              <h1>
                <a title="@blg.title" href="@routes.Useract.getBlogByPermalink(blg.permaLink)">@blg.title</a>
              </h1>
            </div>
            <!-- End .title-wrap -->
            @*
            <!-- Begin post-image -->
            <div class="post-image">
              <img src="images/post-img.png" class="img-responsive" alt="">
            </div>
            *@
            <!-- End post-image -->
            
            <!-- Begin post-excerpt -->
            <div class="post-excerpt" style="text-align:justify">
              @Html(blg.content)
            </div>
            
            <!-- End post-excerpt -->
            
            
            <!-- Begin .comments-wrap -->
            <!-- fb comments ini -->
            <div class="fb-comments" data-href="@routes.Useract.getBlogByPermalink(blg.permaLink).absoluteURL()" data-numposts="5" data-width="100%"></div>
            <!-- fb comments end -->
           
           @*
            <div id="blog_comment_@{blg.id}" class="comments-wrap">
              
             <div id="cmmHold"></div>
             <div id="cmmHold2" style="display:none;"></div><br/>
             <button onclick="showAllcomments()" id="shBut" style="display:none;" class="btn btn-default">See all</button>
              <div class="clearfix"></div>
              <!-- begin .post-comment-form -->
              <div class="post-comment-form">
                <form role="form" action="@routes.Useract.AddBlogComment" method="post" >
                	<input type="hidden" value="@blg.id" name="blog" />
                  <div class="form-group">
                    <label for="blogcomment">Post a comment</label>
                    <div class="clearfix"></div>
                    <textarea name="cmnttxt" id="" cols="20" rows="3" style="width:80%;"  data-bind="value: cmnttxt"></textarea>
                  </div>  
               		@if(controllers.Application.verifyEmail()){
               	 		<button type="submit" class="btn btn-default orange">Send</button>
               		}                   
                </form>
              </div>
              <!-- End post-comment-form -->
            </div>
            *@
            <!-- End .comments-wrap -->
            
          </div>
          <!-- End .col-lg-12 -->
          
           @if(blg.getImages()!=null){
          <!-- Begin .col-lg-8 images...-->
          <div id="imgs@{blg.id}" class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-12" style="margin-bottom: 150px;" data-sticky_column>
           @for(img <- blg.getImages()) {
           		@if(img.isVideo==false){
           			<img src="@img.getURL()" class="img-responsive" style="padding-bottom: 10px;"/>
           		}else{
           			<div class="wrapper">
						 <div class="videocontent">
						  <div id="myvideo_videojs1" class="video-js vjs-default-skin vjs-playing">
			           			<video style="width:320px;height:240px;" id="myvideo" class="vjs-tech" controls
			 						preload="auto" 
									data-setup="{}">
			 						<source src="@img.getURL()" type="@img.fileType">
								</video>
							</div>
						</div>
					</div>
           		}
  				
			} 
			
          </div>
          <!-- End .col-lg-8 -->
          }
          
          @*<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12 col-md-offset-4 col-lg-offset-4 ">
            
            
          </div>*@
          
          
          <div class="clearfix">
          </div>
          
          
          
        </div>
        
        <!-- end .blog-post -->
        
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
    
     

@*	
		<div class="post" id="Blog@{blg.id}">
			<h2 class="title">
				<a title="@blg.title" href="@routes.Useract.getBlogByPermalink(blg.permaLink)">
				@blg.title
				</a>
			</h2>@if(isadmin){ <a class="gray btn-small" href="@routes.Application.GetEditBlog(blg.id)"><i class="icon-edit"></i>Edit this</a>} @if(isadmin && !isgrouped){ <a class="blogdeletebutton gray btn-small underline" href="javascript:void(0);" data-link="@routes.Useract.RemoveBlog(blg.id)"><i class="icon-remove"></i>Delete</a> }
			<div class="post-header">
				<div class="published">
					<ul class="inline">
						<li><span class="gray">Posted: </span><span>@blg.postedAt</span></li>
						<li><span class="gray">Author: </span><a class="underlineborder" href="@routes.Application.ContributorPage(blg.author.id)">@blg.author.user.name</a></li>
						<li class="pull-right hidonhover"><span class="gray underlineborder">Share This</span></li>
						<li class="pull-right">	
							<div class="share socialdiv disonhover">							
									<ul class="inline">
										<li>
											<a  title="Share on Twitter" href="https://twitter.com/intent/tweet?text=Has%20Read%20%20@helper.urlEncode(routes.Application.GetBlogPage(blg.id).absoluteURL(request()))"
											onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
											<img alt="Twitter" src="@routes.Assets.at("img/t.png")"/>
											</a>
										</li>
										<li>
											<a href="#"  title="Share on Facebook" 
											onclick="window.open(
													'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@routes.Application.GetBlogPage(blg.id).absoluteURL(request())'),
															'facebook-share-dialog',
															'width=626,height=436');return false;"> 
												<img src="@routes.Assets.at("img/fb.png")"/>
											</a>
										</li>
										<li><a href="https://plus.google.com/share?url=@helper.urlEncode(routes.Application.GetBlogPage(blg.id).absoluteURL(request()))" 
											onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
												<img  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/>
											</a>
				  						</li>
										<li><a href="#"	
										onclick="window.open('http://www.tumblr.com/share/link?url='+encodeURIComponent('@routes.Application.GetBlogPage(blg.id).absoluteURL(request())')+'&name='+encodeURIComponent('@blg.title')+'&description='+encodeURIComponent('Boozology Blogs'),'Share on Tumblr','width=626,height=436');return false;"
										title="Share on Tumblr"><img src="@routes.Assets.at("img/tb.png")"/></a>
										</li>
										
									</ul>
							</div>
						</li>
					</ul>			
				</div>			
			</div>			
			<div class="post-content">
				@Html(blg.content)
			</div>
			<div class="onnextline spacecreater-small bold">
				<ul class="inline">
				@for((tags,cnt) <- blg.labels.zipWithIndex){ <li><a class="label" href="@routes.Application.GetBlogListByTag(tags.tag)"> @tags.tag </a></li>	}
				</ul>
			</div>	
			<div class="post-footer">
			@subjectPresent(){
			<div class="pull-right btn-mini onnextline">
				<a class="gray underline" href="#" onclick="javascript:$.colorbox({href:UserLink.controllers.Useract.GetComplainForm(@blg.id, @DInitial.REPORTABUSE.ON_BLOG, encodeURIComponent(window.location.href)).absoluteURL()})">
						
						@if(GHelp.VerifyACL(DInitial.CURRENT_ACL.ADMINISTRATOR_ONLY,null)){	
						}else{ <i class="icon-flag"></i>Report Abuse }
				</a>
			</div>
			}
			<!-- 
				<blockquote>
					<p class="btn-small">This is a comment</p>
					<small>By rocky</small>
				</blockquote>
			-->
				<div class="onnextline">
					<div style="display: block;" class="widget-content">
						<div class="padd">
								@Templates.su.commentko()
						</div>
					</div>
				</div>
				<div class="onnextline">
					<form class="form-inline" data-bind="submit:postcomment,with:sfm">
						<textarea name="cmnttxt" maxlength="255"  class="span4" rows="3" placeholder="Type your message"  data-bind="value: cmnttxt"></textarea>
						<button type="submit" class="btn btn-info">Send</button>
					</form>
				</div>
			</div>
		</div>
*@
		
}

@sidebar(isadmin:Boolean)={

@*
<div class="minorblogunit textcutoverflow blogsidebar">

	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        Archive
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul class="unstyled text-center">
	        @for(blg <- Blog.RecentBlogPage(0,40).getList){
	        	<li class="textcutoverflow"><a href="@routes.Useract.getBlogByPermalink(blg.permaLink)">@blg.title</a></li>
	        }
	        </ul>
	        <a href="#" class="gray underline pull-right">See All</a>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        Tags
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul class="unstyled text-center">
		        @for(blglb<- BlogLabels.RecentBlogLabels(0,40).getList){
		        	<li class="textcutoverflow"><a href="#">@blglb.tag</a></li>
		        }
	        </ul>
	        <a href="#" class="gray underline pull-right">See All</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>
*@

}

@pagescript(isadmin:Boolean)={

	<script src="@routes.Assets.at("js/sticky-kit.min.js")"></script> 
	<script>var allblogidlist=[];
	
	$(document).ready(function(){
		/* setTimeout(function(){
		checkHeight();
		$("[data-sticky_column]").stick_in_parent({
		      parent: "[data-sticky_parent]",
		      offset_top:-50
		    });
		},1000); */
		getComments();
		
		//$("html").niceScroll({styler:"fb",cursorcolor:"#000"});
		$(".post-excerpt").niceScroll({styler:"fb",cursorcolor:"#000"});
		$("[id^=imgs]").niceScroll({styler:"fb",cursorcolor:"#000"});
	});
	
	function checkHeight(){
		if($("#txt@{blg.id}").height()>$("#imgs@{blg.id}").height()){
			$("#txt@{blg.id}").removeAttr("data-sticky_column");
		}else{
			$("#imgs@{blg.id}").removeAttr("data-sticky_column");
		}
	}
	
	function getComments(){
		$.getJSON("/blog/comments/get/?limit=0&id=@blg.id", function(json)
				 {
				 	var count = 0;
				 	var comments = "";
				 	var hiddenC = "";
					$.each(json.cmntgrid, function(i,cmm)
	        		{
						if( !cmm.sf ) {
	        				var str = '<div class="comment-post">' +
	        						'<img src="' + cmm.ui +  '" class="user-thumb img-responsive" alt="' + cmm.un + '"/>' +
	        						'<div class="comment">' +
	        						 '<h4><a href="' + UserLink.controllers.Application.ContributorPage(cmm.uid).absoluteURL() + '">' + cmm.un + '</a></h4>'+
	        						'</div>'+
	        						'<p>'+ cmm.ct +'</p>'+
	        						'<ul class="post-meta">'+
									'<li><i class="icon-calendar"></i><span>' + (new Date(cmm.cd).getMonth() + 1) + '.' + new Date(cmm.cd).getDate() + '.' + new Date(cmm.cd).getFullYear() + '</span></li>' +
									'<li><i class="icon-time"></i><span>' + new Date(cmm.cd).getHours() + ':' +  new Date(cmm.cd).getMinutes() + '</span></li>' +
									@subjectPresent(){
									'<li>'+
										'<span data-bind="visible:(cmm.uid==@Application.getContributor(session()).id)||@if(GHelp.VerifyACL(DInitial.CURRENT_ACL.ADMIN_MODERATOR,null)){ true }else{ false }">'+
											'<a class="delete-button" href="javascript:void(0);" data-bind="click:$root.deletecomment" title="delete this comment" commentId='+ cmm.cid +'><i class="icon-remove"></i></a>'+
										'</span>'+
									'</li>'+
									}
									'</ul><div class="clearfix"></div><div class="clearfix"></div>'+
	        						'</div>';
	        			if(count<2){
	        				comments += str;
	        			}else{
	        				hiddenC += str;
	        			}
	        			count++;
					}
	        			
	        		});
	        		$("#cmmHold").append(comments);
	        		if(count>1){
	        			$("#cmmHold2").append(hiddenC);
	        			$("#shBut").show();
	        		}
				 });
				 setTimeout(recalculateStick,1000);
	}
	
	function showAllcomments(){
		$("#cmmHold2").show(1000);
		$("#shBut").hide();
		setTimeout(recalculateStick,1200);
		setTimeout(recalculateStick,1500);
	}
	function recalculateStick(){
		$(document.body).trigger("sticky_kit:recalc");
	}
	
	@*function dislikearticle()
	{
		$.getJSON("/blog/dislike/?id=@blg.id", function(json)
				 {
				 	
				 });
	}*@
	
	function likearticle()
	{
		$("#likeBtn").hide();
		$("#dislikeBtn").show();
		$.getJSON("/blog/like/?id=@blg.id", function(json)
				 {
				 	
				 });
	}
	function dislikearticle()
	{
		$("#likeBtn").show();
		$("#dislikeBtn").hide();
		$.getJSON("/blog/like/?id=@blg.id", function(json)
				 {
				 	
				 });
	}
	
	$('.blog').on('click', '.delete-button', function() {
		var commentId = $(this).attr('commentId');
		var retnresp=$().setresponse({url:UserLink.controllers.Useract.RemoveBlogComment(commentId).absoluteURL(),failans:false});
		if(retnresp===false)
		{
			$().msgbox("<h1 class='lred'>Failed</h1>",2000);
		}
		else
		{
			$(this).closest( ".comment-post" ).remove();
		}
	});
	</script>
	
	
	
	@Templates.su.jready{
		@if(isadmin){
		$('.blogdeletebutton').click(function() {
			$().msgbox('<div class="onnextline text-center"><span>Are you sure to Delete this Blog Post? </span><br/><a class="btn btn-danger" href="'+$(this).attr( "data-link" )+'">Yes</a></div>',60000);
			});
		}
		
		@*
		@Templates.js.commentaction(idofpassed=blg.id,divid="Blog"+blg.id,hiturl=routes.Application.GetBlogComments(blg.id).url,Ispost=false,specific=true){
			function fms(ifs)
			{
				var self=this;
				self.cmnttxt=ko.observable(ifs.ct);
				self.blog=ifs.prdct;
			};
			var initcontent	={ct:'',prdct:@blg.id};
			var urlforpostingcomment="@routes.Useract.AddBlogComment";
		}{
			self.deletecomment =function(cmnt){
				var retnresp=$().setresponse({url:UserLink.controllers.Useract.RemoveBlogComment(cmnt.cid).absoluteURL(),failans:false});
				if(retnresp===false)
				{
					$().msgbox("<h1 class='lred'>Failed</h1>",2000);
				}
				else
				{
					self.commentlist.remove(cmnt);
				}
			}
		 }
		 
		 $.each(allblogidlist, function(index, idofblog) {
		 			var newcv=new CommentView(UserLink.controllers.Application.GetBlogComments(idofblog).absoluteURL())
		 			newcv.fr.blog=idofblog;
		 			ko.applyBindings(newcv,$('#Blog'+idofblog)[0]);
				});
				
			*@	
	}
}

@defining(GHelp.VerifyACL(DInitial.CURRENT_ACL.ADMIN_SELF, blg.author.user)) { isadmin=>
	@if(isgrouped){
			@singleunit(isadmin)
			@if(blgcnt==0){	
				@helper.javascriptRouter("UserLink")(routes.javascript.Application.ContributorPage,routes.javascript.Useract.RemoveBlogComment,routes.javascript.Application.GetBlogComments,routes.javascript.Useract.GetComplainForm)
				@pagescript(isadmin)
				}
			@if(blgcnt>0){
			<script>allblogidlist.push(@blg.id);</script>
			}
	}else{	
		@Templates.MasterTemplate(){
			@Templates.pagehead(blg.title){@pst(isadmin)}
		}{
			@Templates.pageheader(){		
			}{ }
			
		}{
			@Templates.pagemaincontent(){		
					@singleunit(isadmin)
					@*
				<div id="blogpage" class="onnextline majorblogunit">
					@singleunit(isadmin)
				</div> 
					@sidebar(isadmin)
					*@
					
					@if(blgcnt==0){
						@helper.javascriptRouter("UserLink")(routes.javascript.Application.ContributorPage,routes.javascript.Useract.RemoveBlogComment,routes.javascript.Application.GetBlogComments,routes.javascript.Useract.GetComplainForm)
						@pagescript(isadmin)
						}
					@if(blgcnt>0){
						ko.applyBindings(new CommentView("@routes.Application.GetBlogComments(blg.id).url"),$('#Blog@{blg.id}')[0]);
					}
					<div id="allblog">
						<div id="content">
						</div>
					</div>
					@Templates.su.jready{ 
						var BlogView =  {
							stillloading : false,
							blogList : ko.observableArray([]),
							
							fr : {
								page:0,
								ps:3,
								id:@blg.id
							},
							loadMore : function()
							{
								if(this.fr.page!==-1 && this.loadBlog()) {
							  				this.fr.page++;
							  	}
							},
							
							loadBlog : function () {
							    self = this;
							    var gotsuccess=true;
							    if(self.stillloading) {
									return;
								}
								var posting = $.post("@routes.Application.GetListBlogPage()",$.param(this.fr),"json");
								ldiv.display();
								self.stillloading = true;	
								posting.done(function( data ) {	
									ldiv.stillbusy();
									var theDiv = document.getElementById("content");
									theDiv.innerHTML = theDiv.innerHTML + data; 						
									
									ldiv.loadcomplete();
									
									if(self.fr.page == 1 ){
									}
									$("[id^=imgs]").niceScroll({styler:"fb",cursorcolor:"#000"});
									if(data.trim().length == 0){self.fr.page=-1;}	
									self.stillloading = false;
								});
								posting.fail(function( data ) {
									ldiv.loadcomplete();	
									self.stillloading = false;
									gotsuccess=false;
									$.colorbox.resize();
								});
								return gotsuccess;
							}
							
							
						}
						
						@Templates.js.infinitescroll(false){ 
							BlogView.loadMore();
						}
						
						ko.applyBindings(BlogView ,document.getElementById('allblog'));
						
					}		
			}
		}{
			@Templates.pagefooter(){ }
		}	
	}

}		
