@(contactfetchurl:String)

@ps={}


@Templates.MasterTemplate(){
@Templates.pagehead("Administration @Boozology"){@ps}
}{
<div class="calibri">
	@Templates.AlertMessages()	
</div>	
}{
@Templates.pagemaincontent(){	
<div class="container">
	   <!-- Begin .row -->
	<div class="row">
		<div id="legend">
	    	<legend>We were able to get only these friends.</legend>
	    </div>
	    <div class="onnextline text-right">
	    	@*<a href="@routes.Signup.SetUsersContactList("chooseall")" class="btn btn-success brectangle">Follow All</a>*@
	    	<a href="@routes.Signup.SetUsersContactList("done")" class="btn btn-success brectangle">Done</a>
	    </div>
	    <div class="onnextline" id="usergrid">
	    	<span>Total Users Found: <span data-bind="text:userList().length"></span></span>
	    	<br/>
	    	@Templates.su.ubko()
	    </div>				
	</div>	
</div>
<script>var postregistering=true</script>		
@Templates.su.jready{
var uxBDocInit=UBDocInit(ldiv);
@*
@Templates.js.infinitescroll(false){uxBDocInit.loadMore();}	
*@		
}

<script>
function UBDocInit(ldiv)
{
	@Templates.js.ubaction(divid="usergrid",hiturl=contactfetchurl,Ispost=false,specific=true){
		function fms(ifs)
		{
			var self=this;
		};
		var initcontent	={};
	}{ }
	return thisuserview;
	
}
</script>

	
}
}{
@Templates.pagefooter(){ }
}	
