@(resetForm: Form[controllers.Signup.PasswordReset])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("boozology.password.reset.title")) {

	<h1>@Messages("boozology.password.reset.title")</h1>
	<p>
	@form(routes.Signup.doResetPassword) {
	   
       
       
        @input(
   			resetForm("token"),
   			'_label -> "",
   			'_showConstraints -> false
   		
   		) { (id, name, value, args) =>
		    <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
		}
	   
	   @inputPassword(resetForm("password"),
                '_label -> Messages("boozology.login.password.placeholder")
             )
             
       @inputPassword(resetForm("repeatPassword"),
          '_label -> Messages("boozology.login.password.repeat"),
          '_showConstraints -> false,
          '_error -> resetForm.error("password")
       )
       
       @if(resetForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@resetForm.globalError.message</span>
     	</p>
       }
           
	<input type="submit" value="@Messages("boozology.password.reset.cta")" class="btn btn-primary"> 
	}
	</p>
}