@(blgpg:com.avaje.ebean.Page[Blog])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import Templates._

@pst={
<link href="@routes.Assets.at("css/blog.css")"  rel='stylesheet' type='text/css' />
<script src="@routes.Assets.at("js/sticky-kit.min.js")"></script>  
<script src="@routes.Assets.at("js/readmore.min.js")"></script>  
<script src="@routes.Assets.at("js/stickykit.js")"></script>  
}

@MasterTemplate(){
	@pagehead("Blog @Boozology"){@pst}
}{
	@pageheader(){
		@subjectPresent(){
			<div class="container smartcontainer">
				@if(controllers.Application.verifyEmail()){
					<div class="row">
						<div class="logout blbanner">
							<div class="message"><span class="bold">Posts are ideas, stories, and facts added by the community. Click on Add New Post to create your own.</span></div>
							<div class="options">
								<div class="option"><a class="btn btn-danger brectangle btn-small" href="@routes.Application.GetAddBlog()">Add New Post</a></div>
							</div>
						</div>
					</div>
				} else {
					<div class="row">
						<div class="logout blbanner">
							<div class="message"><span class="bold"> Please	verify your Email address </span></div>
							<div class="options">
								<div class="option"><a class="btn btn-danger brectangle btn-small" href="@routes.Account.verifyEmail()">Verify my email</a></div>
							</div>
						</div>
					</div>
				}
			</div>
		}
	}{ }
	
}{
	@pagemaincontent(){
	
		@defining(GHelp.VerifyACL(DInitial.CURRENT_ACL.ADMINISTRATOR_ONLY,Application.getLocalUser(session()))) { isadmin=>
			
			
			<div id="allblog">
				<div id="content">
					@for((blg,cnt) <- blgpg.getList.zipWithIndex){
						@Templates.su.Singleblog(blg,true,cnt)
					}
				</div>
			</div>
			
		}
		
		@Templates.su.jready{ 
			var BlogView =  {
				stillloading : false,
				blogList : ko.observableArray([]),
				
				fr : {
					page:1,
					ps:3
				},
				loadMore : function()
				{
					if(this.fr.page!==-1 && this.loadBlog()) {
				  				this.fr.page++;
				  	}
				},
				
				loadBlog : function () {
				    self = this;
				    var gotsuccess=true;
				    if(self.stillloading) {
						return;
					}
					var posting = $.post("@routes.Application.GetListBlogPage()",$.param(this.fr),"json");
					ldiv.display();
					self.stillloading = true;	
					posting.done(function( data ) {	
						ldiv.stillbusy();
						var theDiv = document.getElementById("content");
						theDiv.innerHTML = theDiv.innerHTML + data; 						
						
						ldiv.loadcomplete();
						
						if(self.fr.page == 1 ){
						}
						$("[id^=imgs]").niceScroll({styler:"fb",cursorcolor:"#000"});
						if(data.trim().length == 0){self.fr.page=-1;}	
						self.stillloading = false;
					});
					posting.fail(function( data ) {
						ldiv.loadcomplete();	
						self.stillloading = false;
						gotsuccess=false;
						$.colorbox.resize();
					});
					return gotsuccess;
				}
				
				
			}
			
			@Templates.js.infinitescroll(false){ 
				console.log("here");
				BlogView.loadMore();
			}
			
			ko.applyBindings(BlogView ,document.getElementById('allblog'));
			
		}
		
	}
}{
@pagefooter(){ }
}		